.container {
  max-width: 1170px;
  margin: 0 auto;
  /* overflow-hidden gettin rid of annoying scrolls */
  overflow: hidden;
  padding: 0 4rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 1rem;
  color: #333;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  cursor: pointer;
  background-color: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
  color: #fff;
}
.btn-outline {
  background-color: transparent;
  border: 1px white solid;
}

/* backgrounds & colored buttons */
.bg-primary,
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.bg-secondary,
.btn-secondary {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-dark,
.btn-dark {
  background-color: var(--secondary-color);
  color: #fff;
}

.bg-light,
.btn-light {
  background-color: var(--secondary-color);
  color: #333;
}
.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a {
  color: #fff;
}

/* text-sizes */

.lead {
  font-size: 2rem;
}

.sm {
  font-size: 2rem;
}

.md {
  font-size: 2.5rem;
}

.text-center {
  text-align: center;
}

.lg {
  font-size: 3.5rem;
}

.xl {
  font-size: 4rem;
}

.btn:hover {
  /* 1 is default  scale*/
  transform: scale(0.98);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* margin-top-bottom */
.my-1 {
  margin: 1.6rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 3.2rem 0;
}

.my-4 {
  margin: 2.3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

/* margin-allsides */
.m-1 {
  margin: 1.6rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3.2rem;
}

.m-4 {
  margin: 2.3rem;
}

.m-5 {
  margin: 4rem;
}

/* padding*/

.py-1 {
  padding: 1.6rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 3.2rem 0;
}

.py-4 {
  padding: 2.3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

/* padding-allsides */
.p-1 {
  padding: 1.6rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3.2rem;
}

.p-4 {
  padding: 2.3rem;
}

.p-5 {
  padding: 4rem;
}
